.pageid_928 #head-menu {display: none;}
.pageid_928 .breadcrumb_wrapper {display: none;}
.pageid_928 .slidepanel {display: none;}
.pageid_928 .slidepanel2 {display: none;}
.pageid_928 .slidecontact {display: none;}
.pageid_928 .footer_wrap {display: none;}
.pageid_928 .print_wrapper {width: 625px!important;}

/*.pageid_928 .compte_row0 .three  {width: 150px!important;}*/


.hide-on-print {display: none;}


